<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<div>
<nav>
  <% if current_user.nil? %>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  <% else %>
    <a href="/task_register">タスク登録</a>
    <a href="/cost_register">コスト登録</a>
    <a href="/user_statistics">今までの統計</a>
    <a href="/signout">Signout</a>
  <% end %>
</nav>
</div>
  <%= yield %>
</body>
</html>