<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Plan&Check</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/Assets/css/style.css">
  <link rel="stylesheet" href="/Assets/css/c3.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/Assets/JS/c3.min.js"></script>
</head>
<body>
  <header class="page-header wrapper">
    <h1 class="logo"><a href="/">Plan&Check</a><h1>
    <nav>
      <ul class="main-nav">
      <% if current_user.nil? %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
      <% else %>
        <li><a href="/userpage"><img src="<%= current_user.img %>" alt="user_image" width="60" height="60"></a></li>
        <li><a href="/task_register">Add Task</a></li>
        <li><a href="/user_statistics">Statistics</a></li>
        <li><a href="/signout">Signout</a></li>
      <% end %>
      </ul>
    </nav>
  </header>
<%= yield %>
</body>
</html>