<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Plan&Check</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/Assets/css/style.css">
  <link rel="stylesheet" href="/Assets/css/c3.css">

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/Assets/JS/c3.min.js"></script>
</head>
<body>
<nav class="center-hrizontal">
  <a href="/">Plan&Check</a>
  <% if current_user.nil? %>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  <% else %>
    <a href="/userpage">Your Page</a>
    <a href="/task_register">Task register</a>
    <a href="/user_statistics">Statistics</a>
    <a href="/signout">Signout</a>
  <% end %>
</nav>
  <%= yield %>
</body>
</html>