<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
<nav>
  <a href="/signup">SignUp</a>
  <a href="/login">Login</a>
</nav>
  <%= yield %>
</body>
</html>