<%# タスクごとのfeedbackのページ %>
<%# まず、コストごとのestimationを表示する。%>
<%# 次に、estimationに対する今回のfeedbackを入力する %>
<%# estimationとfeedbackによる計算をしてコストごとの統計に反映される。 %>
<div>
  <h3><%= @task.name %>のFEEDBACK</h3>
  <div>

  </div>
</div>