@font-face {
  font-family: 'Apercu Bold';
  src: url('../Assets/funts/Apercu-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: rgba(254, 209, 121, 0.4);
}

a {
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

.logo {
  margin-top: 14px
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header a {
  /* font-family: 'Abril Fatface', cursive; */
  color: rgb(75, 75, 75);
  font-family: 'Acme', sans-serif;
}

nav img {
  border-radius: 15px;
}

.main-nav {
  display: flex;
  font-size: 2.45rem;
  text-transform: uppercase;
  margin-top: 10px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: rgb(75, 75, 75);
}

.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
  color: rgb(75, 75, 75);
}

.page-title {
  font-size: 5rem;
  font-family: 'Abril Fatface', cursive;
  color: rgb(75, 75, 75);
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  filter: brightness(1.5);
}

.home {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.home .page-title {
  text-transform: none;
}

.center-hrizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-hrizontal {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-wrap: wrap;
}

.left-hrizontal {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  flex-wrap: wrap;
}

.first {
  height: 320px;
  width: 100%;
  padding-top: 170px;
  background-size: cover;
  background-repeat: no-repeat;
}

.first h1 {
  font-family: 'Acme', sans-serif;
  font-size: 38px;
  color: white;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 38px;
}

h2 {
  font-family: 'Acme', sans-serif;
  font-size: 33px;
}

.post {
  background-color: white;
  margin: 20px;
  padding: 10px;
  width: 80vw;
  border-radius: 15px;
  word-break: break-all;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
}

.post-log {
  background-color: white;
  margin: 15px;
  padding: 10px;
  width: 35vw;
  border-radius: 15px;
  word-break: break-all;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .4);
}

.task-name {
  float: left;
  font-size: 25px;
}

.due-date {
  float: left;
  font-size: 15px;
}

.left-content {
  margin-top: 20px;
  margin-left: 25px;
}

.right-content {
  margin-top: 20px;
  margin-right: 25px;
}

.content {
  margin-top: 20px;
}

.pad {
  padding: 0 20px;
}

.completed {
  text-align: right;
}

.delete-button {
  text-align: right;
}

.post h2 {
  font-size: 30px;
}

.post h3 {
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-auto-rows: 200px;
  justify-content: center;
  z-index: 0;
}

.input-content {
  text-align: center;
  /* その直下の要素が並列になるスタイル */
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.input-content img:hover {
  transform: scale(1.1);
}

.input-content input[type="radio"] {
  display: none;
}

.input-content input[type="radio"]:checked+label img {
  transform: scale(1.2);
  background: #D3F8E2;
}

.button {
  padding: 10px 20px;
  font-size: 1.0em;
  /* 背景色を黒に指定 */
  background-color: rgb(75, 75, 75);
  /* 文字色を白に指定 */
  color: #fff;
  /* submitボタンのを枠を非表示にする */
  border-radius: 15px;
  border-style: none;
}

.viewlog {
  margin: 0 10vh;
}